@font-face {
  font-weight: normal;
  font-family: "Open-sans";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/open-sans-regular.woff2") format("woff2"), url("/fonts/open-sans-regular.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Open-sans";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/open-sans-700.woff2") format("woff2"), url("/fonts/open-sans-700.woff") format("woff");
}
