.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 52px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #D12136;
}

.button:hover {
  opacity: 0.9;
}

.button:active {
  color: #ffffff;
  background-color: #D12136;
}
