.page-footer {
  width: 100%;
  margin: 0;
  margin-top: auto;
  background: #F5F5F9;
}

.page-footer__list {
  max-width: 1240px;
  min-height: 82px;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  .active {
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.page-footer__item {
  margin: auto;
  margin-right: 24px;
  margin-left: 37px;

  &:first-child {
    margin-left: 44px;
  }

  & a:hover,
  & a:focus,
  & a:active {
    color: #000000;
  }
}
